.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;

}
.checkout_ad{
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
}

.checkout_title{
    margin-right: 10px;
    padding: 0px;
    border-bottom: 1px solid lightgray;
}